page-viewbill {

  .bill{
    background: white;
    border: solid black;
    border-width: 2px;
  }

  .col{
    background: white;
    border: solid rgb(0, 0, 0);
    border-width: 1px;
    }

  .authSign{
    height: 100px;
  }

  .societyName{
    background-color: #02D681;
    color: white;
  }

  .particulars{
    background-color: rgb(255, 173, 22);
    color: white;
  }

  .particularsList{
    background-color: rgb(228, 227, 227);
  }
}


