<ion-header>
  <ion-toolbar color="navbar">
    <button ion-button icon-only menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title  align="left">Plumber List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-masters">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-card *ngFor="let item of items">
    <ion-item (click)="viewItem(item)">
      <div class="row">
        <div class="col" class="col-6">
          <div class="plumberIcon">
          <ion-avatar>
            <ion-img src="assets/img/doctor.jpg"></ion-img>
          </ion-avatar>
        </div>
        </div>
        <div class="col" class="col-6">
          <div class="service_name"><p *ngIf="item.Service_name!=''" class="service_name">{{item.Service_name}}</p></div>
          <p *ngIf="item.Service_type!=''">{{item.Service_type}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="call"></ion-icon>{{item.Contact_no}}</p>
        </div>
      </div>
    </ion-item>
  </ion-card>

</ion-content>
