<!--
  Generated template for the AddServiceAdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navbar">
    <ion-title>addService-admin</ion-title>
    <button ion-button icon-only menuToggle start>
        <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-masters">
  <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
    <ion-item [ngClass]="{'error-border':!authForm.controls.servicenm.valid && authForm.controls.servicenm.touched}">
        <ion-label floating>Service Person Name:</ion-label>
        <ion-input formControlName="servicenm" type="text" [(ngModel)]="servicenm"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.servicenm.hasError('required') && authForm.controls.servicenm.touched">
        <p>Sorry, field servicenm is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.servicenm.hasError('pattern') && authForm.controls.servicenm.touched">
        <p>Sorry, only small and capital letters are allowed!</p>
    </ion-item>
    <ion-item [ngClass]="{'error-border':!authForm.controls.serviceType.valid && authForm.controls.serviceType.touched}">
        <ion-label floating>Service Type :</ion-label>
        <ion-select formControlName="serviceType"  [(ngModel)]="serviceType">
            <ion-option value="plumber">Plumber</ion-option>
            <ion-option value="doctor">Doctor</ion-option>
            <ion-option value="fire_bridage">Fire brigade</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="authForm.controls.serviceType.hasError('required') && authForm.controls.serviceType.touched">
        <p>Sorry, field username is required!</p>
    </ion-item>
    <ion-item [ngClass]="{'error-border':!authForm.controls.aboutservice.valid && authForm.controls.aboutservice.touched}">
        <ion-label floating>About Service :</ion-label>
        <ion-input formControlName="aboutservice" type="text" [(ngModel)]="aboutservice"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.aboutservice.hasError('required') && authForm.controls.aboutservice.touched">
        <p>Sorry, field About service is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.aboutservice.hasError('pattern') && authForm.controls.aboutservice.touched">
        <p>Sorry, only small and capital letters are allowed!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.aboutservice.hasError('maxlength') && authForm.controls.aboutservice.touched">
        <p>Sorry, maximum username length is 30!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.aboutservice.hasError('minLength') && authForm.controls.aboutservice.touched">
        <p>Sorry, maximum username length is 4!</p>
    </ion-item>
    <ion-item [ngClass]="{'error-border':!authForm.controls.serviceCnt.valid && authForm.controls.serviceCnt.touched}">
        <ion-label floating>Contact No.:</ion-label>
        <ion-input formControlName="serviceCnt" type="text" [(ngModel)]="serviceCnt"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.serviceCnt.hasError('required') && authForm.controls.serviceCnt.touched">
        <p>Sorry, field Event Venue is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.serviceCnt.hasError('pattern') && authForm.controls.serviceCnt.touched">
        <p>Sorry, only number are allowed!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.serviceCnt.hasError('maxlength') && authForm.controls.serviceCnt.touched">
        <p>Sorry, maximum username length is 10!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.serviceCnt.hasError('minLength') && authForm.controls.serviceCnt.touched">
        <p>Sorry, maximum username length is 8!</p>
    </ion-item>
    <button ion-button full color="button" type="submit">Add Service</button>
</form>
</ion-content>
