<ion-header>
  <ion-navbar color="navbar">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-masters">

  <form [formGroup]="authForm">
    <ion-list>
      <ion-item class="profile-item">
        <div class="big-profile-picture">
          <ion-img src="assets/img/join-us.png"></ion-img>
        </div>
      </ion-item>
      <ion-item [ngClass]="{'error-border':!authForm.controls.firstnme.valid && authForm.controls.firstnme.touched}">
        <ion-label floating>
          <ion-icon class="reg-icon" name="contact"></ion-icon> First Name</ion-label>
        <ion-input type="text" formControlName="firstnme" [(ngModel)]="firstnme" #fnm></ion-input>
      </ion-item>
      <ion-item *ngIf="authForm.controls.firstnme.hasError('required') && authForm.controls.firstnme.touched">
        <p>Sorry, field First name is required!</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.firstnme.hasError('pattern') && authForm.controls.firstnme.touched">
        <p>Sorry, only small and capital letters are allowed!</p>
      </ion-item>
      <ion-item [ngClass]="{'error-border':!authForm.controls.lastname.valid && authForm.controls.lastname.touched}">
        <ion-label floating>
          <ion-icon class="reg-icon" name="contact"></ion-icon> Last Name</ion-label>
        <ion-input type="text" formControlName="lastname" [(ngModel)]="lastname" #lnm></ion-input>
      </ion-item>
      <ion-item *ngIf="authForm.controls.lastname.hasError('required') && authForm.controls.lastname.touched">
        <p>Sorry, field Last name is required!</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.lastname.hasError('pattern') && authForm.controls.lastname.touched">
        <p>Sorry, only small and capital letters are allowed!</p>
      </ion-item>
      <ion-item [ngClass]="{'error-border':!authForm.controls.usernm.valid && authForm.controls.usernm.touched}">
        <ion-label floating>
          <ion-icon class="reg-icon" name="person"></ion-icon> Username</ion-label>
        <ion-input type="text" formControlName="usernm" [(ngModel)]="usernm" #username></ion-input>
      </ion-item>
      <ion-item *ngIf="authForm.controls.usernm.hasError('required') && authForm.controls.usernm.touched">
        <p>Sorry, field username is required!</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.usernm.hasError('pattern') && authForm.controls.usernm.touched">
        <p>Sorry, only small and capital letters are allowed!</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.usernm.hasError('minLength') && authForm.controls.usernm.touched">
        <p>Sorry, minimum username length is 8!</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.usernm.hasError('maxLength') && authForm.controls.usernm.touched">
        <p>Sorry, maximum username length is 30!</p>
      </ion-item>
      <ion-item [ngClass]="{'error-border':!authForm.controls.eml.valid && authForm.controls.eml.touched}">
        <ion-label floating>
          <ion-icon class="reg-icon" name="mail"></ion-icon> Email</ion-label>
        <ion-input type="email" formControlName="eml" [(ngModel)]="eml" #email></ion-input>
      </ion-item>
      <ion-item *ngIf="authForm.controls.eml.hasError('required') && authForm.controls.eml.touched">
        <p>Sorry, field email is required!</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.eml.hasError('minLength') && authForm.controls.eml.touched">
        <p>Sorry, minimum email length is 8!</p>
      </ion-item>
      <ion-item [ngClass]="{'error-border':!authForm.controls.pwd.valid && authForm.controls.pwd.touched}">
        <ion-label floating>
          <ion-icon class="reg-icon" name="contact"></ion-icon> Password</ion-label>
        <ion-input type="password" formControlName="pwd" [(ngModel)]="paswd" #password></ion-input>
      </ion-item>
      <ion-item *ngIf="authForm.controls.pwd.hasError('required') && authForm.controls.pwd.touched">
        <p>Sorry, field password is required!</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.pwd.hasError('minLength') && authForm.controls.pwd.touched">
        <p>Sorry, minimum password length is 8!</p>
      </ion-item>
      <ion-item [ngClass]="{'error-border':!authForm.controls.flat.valid && authForm.controls.flat.touched}">
        <ion-label floating>
          <ion-icon class="reg-icon" name="home"></ion-icon> Flat No</ion-label>
        <ion-input type="text" formControlName="flat" [(ngModel)]="flat" #flatn></ion-input>
      </ion-item>
      <ion-item *ngIf="authForm.controls.flat.hasError('required') && authForm.controls.flat.touched">
        <p>Sorry, field Flat no is required!</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.flat.hasError('pattern') && authForm.controls.flat.touched">
        <p>Sorry, only numbers are allowed!</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.flat.hasError('minLength') && authForm.controls.flat.touched">
        <p>Sorry, minimum username length is 3!</p>
      </ion-item>
      <ion-item [ngClass]="{'error-border':!authForm.controls.wingno.valid && authForm.controls.wingno.touched}">
        <ion-label floating>
          <ion-icon class="reg-icon" name="home"></ion-icon> Wing</ion-label>
        <ion-input type="text" formControlName="wingno" [(ngModel)]="wingno" #wing></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'error-border':!authForm.controls.family.valid && authForm.controls.family.touched}">
        <ion-label floating>
          <ion-icon class="reg-icon" name="people"></ion-icon> Family Member</ion-label>
        <ion-input type="text" formControlName="family" [(ngModel)]="family" #familyMmber></ion-input>
      </ion-item>
      <ion-item *ngIf="authForm.controls.family.hasError('pattern') && authForm.controls.family.touched">
        <p>Sorry, only numbers are allowed!</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.family.hasError('required') && authForm.controls.family.touched">
        <p>Sorry, field Total Family Member is required!</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.family.hasError('minLength') && authForm.controls.family.touched">
        <p>Sorry, minimum Total Family Member length is 2!</p>
      </ion-item>
      <ion-item [ngClass]="{'error-border':!authForm.controls.car.valid && authForm.controls.car.touched}">
        <ion-label floating>
          <ion-icon class="reg-icon" name="car"></ion-icon> Vehicles</ion-label>
        <ion-input type="text" formControlName="car" [(ngModel)]="car" #vehicle></ion-input>
      </ion-item>
      <ion-item *ngIf="authForm.controls.car.hasError('pattern') && authForm.controls.car.touched">
        <p>Sorry, only numbers are allowed!</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.car.hasError('required') && authForm.controls.car.touched">
        <p>Sorry, field Total vehicles is required!</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.car.hasError('minLength') && authForm.controls.car.touched">
        <p>Sorry, minimum Total vehicles length is 8!</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          <ion-icon class="reg-icon" name="call"></ion-icon>Phone Number</ion-label>
        <ion-input type="number" formControlName="phoneNumber" [(ngModel)]="phoneNumber" #phone></ion-input>
      </ion-item>
      <div id="recaptcha-container"></div>
    </ion-list>
  </form>
  <div padding>
    <button block ion-button (click)="registerUser(phoneNumber)" item-left>Register</button>
  </div>

</ion-content>
