
<ion-header>

  <ion-navbar color='navbar'>
    <ion-title>Member Profile</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding class="bg-masters">
  <ion-card>
    <div class="logo">
      <ion-avatar align="center">
        <ion-img src="assets/img/doctor.jpg" alt="logo"></ion-img>
      </ion-avatar>
    </div>
    <ion-list>
      <ion-item>
        <ion-label align="center"> Name:{{itemsParam.first_name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Details</ion-label>
      </ion-item>
      <ion-item *ngIf="itemsParam.email!=''">
        <ion-label color="primary">
          <ion-icon name="mail"></ion-icon>
          <p>{{itemsParam.email}}</p>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="itemsParam.username!=''">
        <ion-label color="primary">
          <ion-icon name="person"></ion-icon>
          <p> {{itemsParam.username}}</p>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="itemsParam.contact_no!=''">
        <ion-label color="primary">
          <ion-icon name="call" (click)='sendSms(itemsParam.contact_no)'></ion-icon> {{itemsParam.contact_no}}</ion-label>
      </ion-item>
      <ion-item *ngIf="itemsParam.flatno!=''">
        <ion-label color="primary">
          <ion-icon name="home"></ion-icon>
          <p>#{{itemsParam.flatno}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
