<ion-header>

  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>addcharges-admin</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bg-masters">
  <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
    <ion-item [ngClass]="{'error-border':!authForm.controls.chargenm.valid && authForm.controls.chargenm.touched}">
      <ion-label floating>Charges Name:</ion-label>
      <ion-input formControlName="chargenm" type="text" [(ngModel)]="chargenm"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.chargenm.hasError('required') && authForm.controls.chargenm.touched">
      <p>Sorry, field charge name is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.chargenm.hasError('minLength') && authForm.controls.chargenm.touched">
      <p>Sorry, minimum username length is 4!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.chargenm.hasError('maxLength') && authForm.controls.chargenm.touched">
      <p>Sorry, minimum username length is 15!</p>
    </ion-item>
    <ion-item [ngClass]="{'error-border':!authForm.controls.chargetype.valid && authForm.controls.chargetype.touched}">
      <ion-label floating>Charges Type:</ion-label>
      <ion-select formControlName="chargetype" [(ngModel)]="chargetype">
        <ion-option value="Sinking">Sinking fund</ion-option>
        <ion-option value="Repair">Repair fund</ion-option>
        <ion-option value="Municipal">Municipal due</ion-option>
        <ion-option value="Security">Security charges</ion-option>
      </ion-select>

    </ion-item>
    <ion-item *ngIf="authForm.controls.chargetype.hasError('required') && authForm.controls.chargetype.touched">
      <p>Sorry, field charge type is required!</p>
    </ion-item>
    <ion-item [ngClass]="{'error-border':!authForm.controls.chargeamt.valid && authForm.controls.chargeamt.touched}">
      <ion-label floating>Charges Amount:</ion-label>
      <ion-input formControlName="chargeamt" type="text" [(ngModel)]="chargeamt"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.chargeamt.hasError('required') && authForm.controls.chargeamt.touched">
      <p>Sorry, field charge amount is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.chargeamt.hasError('pattern') && authForm.controls.chargeamt.touched">
      <p>Sorry, only number are allowed!</p>
    </ion-item>

    <button ion-button full color="button" type="submit">Add Charegs</button>
  </form>
</ion-content>
