page-home {
  .imgcarousel {
    height: 40%;
  }
  .fixcard {
    // height:100%;
    // width: 100%;
    padding: 20px;
  }
  .homeIcon {
    height: 40%;
  }
  .profile-item {
    text-align: center;
  }
  .profile-picture img {
    width: 40px;
    border-radius: 100%;
  }
  .profile-name {
    padding-top: 10px;
    font-size: x-large !important;
    font-weight: bold !important;
    text-transform: capitalize;
  }
  .profile-picture {
    padding: 4px;
    border-radius: 100%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    width: 40px;
    height: 30px;
    overflow: hidden;
  }
}

