page-home {
  .imgcarousel {
    height: 40%;
  }
  .fixcard {
    height: 135px;
    width: 100px;
    text-align: center;
    align-content: center;
    align-self: center;
    padding: 20px !important;
  }
  .slide {
    height: 80%;
  }
  .slide img {
    height: 80%;
  }
  .swiper-slide img {
    width: auto;
    max-width: 100%;
    height: 150px!important;
    max-height: 100%;
  }
  .slide-zoom {
    text-align: center;
    display: block;
    width: 100%;
    height: 145px;
  }
  .item-md ion-avatar ion-img,
  .item-md ion-avatar img {
    border-radius: 50%;
    overflow: hidden;
    width: 51px!important;
    height: 73px !important;
  }
  .homeIcon {
    height: 40%;
  }
  .profile-item {
    text-align: center;
  }
  .profile-picture img {
    width: 40px;
    border-radius: 100%;
  }
  .profile-name {
    padding-top: 10px;
    font-size: x-large !important;
    font-weight: bold !important;
    text-transform: capitalize;
  }
  .item-service {
    width: 120px !important;
    height: 120px !important;
  }
  .service-col-33 {
    width: 200px;
    height: 350px;
  }
  .cards-action-img {
    height: 75px;
    text-align: center;
    align-content: center;
    align-self: center;
    align-items: center;
    width: 75px;
    background: none;
  }
  .profile-picture {
    padding: 4px;
    border-radius: 100%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    width: 35px;
    height: 30px;
    overflow: hidden;
  }
  .button-notification {
    height: 35px;
    width: 25px;
  }
  .service-div {
    height: 150px;
    width: 100;
  }
  .button-panic {
    height: 45px;
    width: 35px;
  }
  .service-card {
    height: 125px;
    width: 112%;
  }
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px;
    grid-template-rows: [row] auto [row] auto [row];
    background-color: whitesmoke;
    color: #444;
  }
  .box {
    background-color: #BC1121;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
  .services-wrapper {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto auto;
    background-color: whitesmoke;
    color: white;
    margin-bottom: 10px;
  }
  .box1 {
    background-color: whitesmoke;
    color: #444;
    border-radius: 5px;
    padding: 20px;
    font-size: 90%;
  }
  .box1 .doctorlist {
    grid-area: 1 / 1 / 2 / 2;
  }
  .box1 .electricianlist {
    grid-area: 1 / 2 / 2 / 3;
  }
  .box1  .plumberlist{
    grid-area: 1 / 3 / 2 / 4;
  }
  .label-name {
    font-size: 14px;
  }
  .box1 .img-dr {
    height: 80px;
    width: 80px;
    position: relative;
    left: 158px;

  }

  .wrapper {
		display: grid;
    grid-gap: 10px;
		grid-template-columns: [col] 100px [col] 100px [col] ;
		grid-template-rows: [row] auto [row] auto [row] ;
		background-color: #fff;
		color: #444;
	}

	.box {
		background-color: #BC1121;
		color: #fff;
		border-radius: 5px;
		padding: 20px;
		font-size: 150%;

	}

	.shownews {
		grid-column: col 1 / span 7;
    grid-row: row;
    background-color: rgba(65, 77, 184, 0.925);
	}
	.showbills {
		grid-column: col 8 / span 3 ;
    grid-row: row ;
    background-color: rgb(188, 17, 33);
	}
	.showforum {
		grid-column: col 1 /span 4 ;
    grid-row: row 2 ;
    background-color: rgb(188, 17, 33);
	}
	.showevent {
		grid-column: col 5 / span 6 ;
    grid-row: row 2 ;
    background-image:url('../assets/img/icon_event.png');
	}


  .platform-android.platform-cordova {
    page-landing {
      .scroll-content {
        margin-top: 20px !important;
      }
    }
  }
  //Mobile view
  @media only screen and (max-width: 330px) {
    ion-avatar img {
      width: 100% !important;
      height: 100% !important;
      max-width: 100px !important; //any size
      max-height: 100px !important; //any size
    }

    .services-wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto auto auto;
      background-color: whitesmoke;
      color: white;
      margin-bottom: 10px;
    }
    .box1 {
      background-color: whitesmoke;
      color: #444;
      border-radius: 5px;
      padding: 5px;
      font-size: 90%;
    }
    .doctorlist {
      grid-area: 1 / 1 / 2 / 2;
    }
     .electricianlist {
      grid-area: 1 / 2 / 2 / 3;
    }
    .plumberlist{
      grid-area: 1 / 3 / 2 / 4;
    }
    .wrapper {
      display: grid;
      grid-gap: 3px;
      grid-template-columns: [col] auto [col] auto ;
      grid-template-rows: [row] auto [row] auto  ;
      background-color: #fff;
      color: #444;
    }

    .box {
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      padding: 10px;
      font-size: 150%;
    }

    .shownews {
      grid-column: col 1 / span 2;
      grid-row: row;
      background-color: rgba(65, 77, 184, 0.925);
    }
     .showbills {
      grid-column: col 3 / span 1 ;
      grid-row: row ;
      background-color: rgb(188, 17, 33);
    }
     .showforum {
      grid-column: col 1 /span 1 ;
      grid-row: row 2 ;
      background-color: rgb(188, 17, 33);
    }
    .showevent {
      grid-column: col 2 / span 3 ;
      grid-row: row 2 ;
      background-image:url('../assets/img/icon_event.png');
    }
    .box1 .img-dr {
      height: 80px;
      width: 80px;
      position: relative;
      left: 2px;

    }

  }
}

