<ion-header>

  <ion-navbar color="navbar">

    <button ion-button icon-only menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="left">Do's & Don'ts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-wrap class="bg-masters">
  <div>
    <ion-segment [(ngModel)]="account.Instructions">
      <ion-segment-button value="DoS" ng-selected="Dos">
        DO'S
      </ion-segment-button>
      <ion-segment-button value="Donts">
        Don'ts
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="account.Instructions">
    <ng-container *ngSwitchCase="'DoS'">
      <ion-list *ngFor="let item of items">
        <ion-item>
          <ul>
            <li>{{item.rule}}</li>
          </ul>
        </ion-item>
      </ion-list>
    </ng-container>
    <ng-container *ngSwitchCase="'Donts'">
      <ion-list *ngFor="let item of items">
        <ion-item>
          <ul>
            <li>{{item.rule}}</li>
          </ul>

        </ion-item>
      </ion-list>
    </ng-container>
  </div>

</ion-content>
