<ion-header>

  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>EmergencyList-admin</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bg-masters">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let c of contacts; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <h3>
        {{c.E_type}}
        <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      </h3>
      <div *ngIf="isGroupShown(i)" (click)="launchDialer(c.E_number)">
        <ion-icon name="call"></ion-icon> {{c.E_number}}</div>
      <h4>
        <div *ngIf="isGroupShown(i)" (click)="sendemail(c.E_email)">
          <ion-icon name="mail-open"></ion-icon>{{c.E_email}}</div>
      </h4>
      <div *ngIf="isGroupShown(i)" (click)="gotoweb(c.E_web)">
        <ion-icon name="globe"></ion-icon> {{c.E_web}}</div>

    </ion-item>
  </ion-list>

</ion-content>
