<ion-header>

  <ion-navbar color="navbar">

    <button ion-button icon-only menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="left">Forum</ion-title>

  </ion-navbar>

</ion-header>
<ion-content padding class="bg-masters">

  <ion-searchbar [(ngModel)]="myInput"> </ion-searchbar>
  <ion-list no-lines>
    <button ion-button class="button" (click)="askquestion()" end>Ask a Question </button>
  </ion-list>

  <div>
    <ion-segment [(ngModel)]="account.Instructions">
      <ion-segment-button value="Unanswered" ng-selected="Unanswered">
        Unanswered
      </ion-segment-button>
      <ion-segment-button value="Answered">
        Answered
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="account.Instructions">
    <div *ngSwitchCase="'Unanswered'">
      <ion-list *ngFor="let item of items" no-lines>
        <ion-item (click)="viewQuestion(item)">

          <p>{{item.ques1}}</p>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'Answered'">
      <ion-list *ngFor="let item of items" no-lines>
        <ion-item (click)="viewQuestion(item)">
          <p>{{item.ques1}}</p>
        </ion-item>
      </ion-list>
    </div>

  </div>

  <ion-list *ngFor="let item of items">
    <ion-item>
      <p>{{item.ques1}}</p>
    </ion-item>
  </ion-list>
</ion-content>
