<ion-header>

  <ion-navbar color='navbar'>
    <ion-title align="left">Service Detail</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bg-masters">
  <ion-card>
    <div align="center">
      <ion-avatar class="doctorIcon">
        <ion-img src="assets/img/icon_dr.png" class="doctorIconSize"></ion-img>
      </ion-avatar>
    </div>

    <ion-list>
      <ion-item>
          <ion-label align="center" class="service_name">
          <ion-icon name="person"></ion-icon> Name:{{itemsParam.Service_name}}</ion-label>
      </ion-item>
      <ion-item *ngIf="itemsParam.Service_type!=''">
        <ion-label>
          Category: {{itemsParam.Service_type}}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="itemsParam.Description!=''">
        <ion-label>
          Description: {{itemsParam.Description}}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="itemsParam.Contact_no!=''">
        <ion-label (click)='sendSms(itemsParam.Contact_no)'>
          Contact No: {{itemsParam.Contact_no}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
