<!--
  Generated template for the AddEventCategoryAdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar coor='navbar'>
    <ion-title>add-event-category-admin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="authForm">
    <ion-item [ngClass]="{'error-border':!authForm.controls.EmergencyCatnm.valid && authForm.controls.EmergencyCatnm.touched}">
      <ion-label floating>emergency Category Name</ion-label>
      <ion-input formControlName="EmergencyCatnm" type="text" #emergencyCategory [(ngModel)]="EmergencyCatnm"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.EmergencyCatnm.hasError('required') && authForm.controls.EmergencyCatnm.touched">
      <p>Sorry, field Emergency Category Name is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.EmergencyCatnm.hasError('pattern') && authForm.controls.EmergencyCatnm.touched">
      <p>Sorry, only small and capital letters are allowed!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.EmergencyCatnm.hasError('minlength') && authForm.controls.EmergencyCatnm.touched">
      <p>Sorry, maximum Emergency Category length is 2!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.EmergencyCatnm.hasError('maxlength') && authForm.controls.EmergencyCatnm.touched">
      <p>Sorry, maximum Emergency Category length is 20!</p>
    </ion-item>
    <button ion-button full color="button" [disabled]="!authForm.valid" (click)="addEmergencyCategory(emergencyCategory);">Add</button>
  </form>
</ion-content>
