
<ion-header>

  <ion-navbar color="navbar">
    <ion-title>propertyList-admin</ion-title>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content padding class="bg-masters">

  <button ion-button block (click)="AddProperty()" class="button">Add Property</button>

  <ion-label>Society Property</ion-label>
  <ion-list>
    <ion-item *ngFor="let item of items">{{item.title}}</ion-item>
  </ion-list>
  <ion-label>Society Assets</ion-label>
  <ion-list>
    <ion-item *ngFor="let asset of assets">{{asset.title}}</ion-item>
  </ion-list>
</ion-content>
